<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.entor.dao.IClassesStudyDao">
	<insert id="add" parameterType="CLassesStudy">
		insert into crm_classes_study(
						classes_id,
						classes_name,
						major_id,
						manager_id,
						teacher_id,
						classes_room,
						begin_date,
						last_join_date,
						join_count,
						end_date,
						last_end_date,
						create_time
				)value(
						#{classesId},
						#{classesName},
						#{majorId},
						#{managerId},
						#{teacherId},
						#{classesRoom},
						#{beginDate},
						#{lastJoinDate},
						#{joinCount},
						#{endDate},
						#{lastEndDate},
						now()
					)
	</insert>
	
	<insert id="addMore">
		insert into crm_classes_study(
					classes_id,
					classes_name,
					major_id,
					manager_id,
					teacher_id,
					classes_room,
					begin_date,
					last_join_date,
					join_count,
					end_date,
					last_end_date,
					create_time
		)values
			<foreach collection="list" item="c" separator="," >
				(
						#{classesId},
						#{classesName},
						#{majorId},
						#{managerId},
						#{teacherId},
						#{classesRoom},
						#{beginDate},
						#{lastJoinDate},
						#{joinCount},
						#{endDate},
						#{lastEndDate},
						now()
					)
			</foreach>
	</insert>
	
	<delete id="deleteById">
		delete from crm_classes_study where classes_id = #{id}
	</delete>
	
	<delete id="deleteMore">
		delete from crm_classes_study where classes_id in 
		<foreach collection="array" open="(" close=")" separator="," item="id">
			#{id}
		</foreach>
	</delete>
	
	<update id="update" parameterType="CLassesStudy">
		update crm_classes_study set 
					classes_name = #{classesName},
					major_id = #{majorId},
					manager_id = #{managerId},
					teacher_id = #{teacherId},
					classes_room = #{classesRoom},
					begin_date = #{beginDate},
					last_join_date = #{lastJoinDate},
					join_count = #{joinCount},
					end_date = #{endDate},
					last_end_date = #{lastEndDate}
		where classes_id = #{classesId}
	</update>
	
	<select id="getTotal" resultType="int">
		select count(*) from view_classes_study
	</select>
	
	<select id="queryById" resultType="CLassesStudy">
		select * from crm_classes_study where classes_id = #{id}
	</select>
	
	<select id="queryAll" resultType="CLassesStudy">
		select *from crm_classes_study
	</select>
	
	<select id="queryByPage" parameterType="map" resultType="VClassesStudy">
		select * from view_classes_study limit #{start},#{pageSize}
	</select>
	
	<select id="queryByMap" parameterType="map" resultType="CLassesStudy">
		select * from crm_classes_study where 1=1
		<if test="name != null">
			<bind name="name" value="'%'+name+'%'"/>
			and classes_name like #{name}
		</if>
	</select>
</mapper>